img{
  width: 100%;
  height: auto;
}
h1{
  font-weight: bold;
  color: white;
}
p{
  color: white;
}
a{
  background-color: red;
  color: white;
  text-decoration: none;
}
a:hover{
  background-color: red;
  color: white;
  border: i px solid white;
}